body, html{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    height: 100%;
}
#top-bar{
    background-color: #0B8043;
    height: 48px;
    position: sticky;
    top: 0;
}
#top-bar p{
    margin: 0;
    font-size: 13pt;
    color: white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: initial;
    z-index: 1;
}
#top-nav-bar{
    color: white;
    height: 56px;
    font-size: 13pt;
    position: sticky;
    display: flex;
    top: 0;
}
#open-side-bar-button{
    color: #095e32;
    height: 25px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
}
#pnhslogo40px{
    height: 40px;
    width: 40px;
    margin: 8px 4px 46px -4px;
}
#side-nav-bar{
    width: 0%;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0px;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.25s ease-in;
    z-index: 4;
    color: white;
    white-space: nowrap;
}
#close-side-bar-button{
    height: 24px;
    width: 24px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
    transition: all 0.5s;
}
#dim-pane{
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    transition: all 0.5s;
}

#side-nav-bar p{
    text-indent: 50px;
    margin: 0px;
    font-size: 10px;
}

.tab-selected{
    color: #0B8043!important;
    background-color: white;
}

#side-nav-bar a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-indent: 40px;
    padding: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}
.tabs{
    transition: all 0.5s;
}
.forms-banner{

}
.forms-title{
    text-align: center;
    color:#0B8043;
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
}
.forms-description{
    text-align: center;
    width: 70%;
    margin: auto;
}
.forms-body{
    text-align: center;
    font-size: 100px;
    margin: 20px;
}
.forms-body i{
    padding: 10px;
    border-radius: 15px;
}
.forms-choice-description{
    font-size: 16px;
    margin: 0;
    color:#0B8043;
}
.forms-footer{
    text-align: center;
}
.forms-next-button{
    background-image: linear-gradient(to right,#0B8043, #09ca66);
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
}
.note{
    text-align: center;
}
#code-input-body{
    font-size: 16px;
    border: solid #0B8043 2px;
    width: 80%;
    max-width: 250px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    
}
#code-input{
    border: none;
    text-align: center;
    background-color: none;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=file] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + svg {
    cursor: pointer;
}

[type=radio]:checked + svg {
    transition: all 0.3s;
    background-color: #0B8043;
    color: white;
}
label{
    color: #0B8043;
}
label svg{
    padding: 5px;
    border-radius: 5px;
}
#main-form-carousel{
    
}
#upload-loading{
    display: none;
}
#download-loading{
    display: none;
}
#uploads-list{
    margin: 10px;
}
.table{
    width: 100%;
    border-collapse:unset;
}
.table th{
    text-align: left;
    background-color: #0B8043;
    color: white;
}
.table  td, .table  th {
    border: 1px solid #ddd;
    padding: 0px;
  }
.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}
.table tr td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    text-align: center;
    -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.table tr th{
    text-align: center;
}
.code-copy{
    background-color: #0B8043;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 3px;
    cursor: pointer;
}
.code-copy:hover{
    background-color: #095e32
}
#upload-file{
    display: block;
}

.bold{
    font-weight: bold;
}
#tac-paragraph{

}
#Terms-and-Conditions p{
    margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}
#Terms-and-Conditions h4{
    font-weight: bold;
}
#tac-list{
    margin:auto;
    margin: 10px;

}
#tac-list p{

    text-indent: 30px;
}
#About p{
    margin-top: 10px;
	line-height: 1.5;
    text-indent: 30px;
}
#about-desc{
    margin:auto;
    margin: 10px;
}

.logs-wrapper{
    margin: 10px;
    display:flex;
}
.logs-icon-upload{
    font-size: 23px;
    color: #007bff;
}
.logs-icon-download{
    font-size: 23px;
    color: #28a745;
}
.logs-container{
    margin-left: 20px;
}
.actionUpload{
    background-color: #007bff;
}
.log-date{
    color: #6c757d;
    font-size: 12px;
}
.role-selection{
    width: auto;
    height: 50%;
    text-align: center;
    display: table;
    width: 100%;
}
.role-selection svg{
    font-size: 150px;
    display: inline-block;
    transition: transform 0.3s ease;
    
}
.role-selection p{
    font-size: 30px;
    display: inline-block;
    width: 100%;
}
#student-selection{
    background-color:#0B8043;
    color: white;
    font-weight: bold;
    transition: all 0.3s;

}
.role-selection-icons{


}
#teacher-selection{
    background-color: black;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

.white-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0;
    background-color: white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .animateExpand{
    animation-name: expand;
  }
  
  @keyframes expand {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }
.animateCenter{
    animation-name: centerIcon;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0B8043;
    transition: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes centerIcon {
    0% {
        transform: translate(-50%, -100%);
        opacity: 10%;
    }
    100% {
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #0B8043;
    }
    
}
.alert{
    margin-bottom: 0px !important;
    display: flex !important;
    
}
#bottom-nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 0px;
}
#bottom-nav-bar a{
    color: #28a745;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 25px;
    align-items: center;
}