body, html{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
}
#top-bar{
    background-color: #0B8043;
    height: 48px;
    position: sticky;
    top: 0;
}
#top-bar p{
    margin: 0;
    font-size: 13pt;
    color: white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: initial;
    z-index: 1;
}
#top-nav-bar{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 56px;
    font-size: 13pt;
}
#open-side-bar-button{
    height: 24px;
    width: 24px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
}
#pnhslogo40px{
    height: 40px;
    width: 40px;
    margin: 8px 4px -12px -4px;
}
#side-nav-bar{
    width: 0%;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0px;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.25s ease-in;
    z-index: 4;
    color: white;
    white-space: nowrap;
}
#close-side-bar-button{
    height: 24px;
    width: 24px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
    transition: all 0.5s;
}
#dim-pane{
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    transition: all 0.5s;
    -webkit-transition: all 0.25s ease-in;
}

#side-nav-bar p{
    text-indent: 50px;
    margin: 0px;
    font-size: 10px;
}

.tab-selected{
    color: black!important;
    background-color: white;
}

#side-nav-bar a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-indent: 40px;
    padding: 10px;
    font-weight: bold;
    color: white;
}
