body, html{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
}
#top-bar{
    background-color: #0B8043;
    height: 48px;
    position: sticky;
    top: 0;
}
#top-bar p{
    margin: 0;
    font-size: 13pt;
    color: white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: initial;
    z-index: 1;
}
#top-nav-bar{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 56px;
    font-size: 13pt;
    position: sticky;
    top: 0;
}
#open-side-bar-button{
    height: 24px;
    width: 24px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
}
#pnhslogo40px{
    height: 40px;
    width: 40px;
    margin: 8px 4px 17px -4px;
}
#side-nav-bar{
    width: 0%;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0px;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.25s ease-in;
    z-index: 4;
    color: white;
    white-space: nowrap;
}
#close-side-bar-button{
    height: 24px;
    width: 24px;
    font-size: 25px;
    margin: 16px 12px;
    z-index: 2;
    transition: all 0.5s;
}
#dim-pane{
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    transition: all 0.5s;
}

#side-nav-bar p{
    text-indent: 50px;
    margin: 0px;
    font-size: 10px;
}

.tab-selected{
    color: #0B8043!important;
    background-color: white;
}

#side-nav-bar a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-indent: 40px;
    padding: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}
.tabs{
    transition: all 0.5s;
}
.forms-banner{

}
.forms-title{
    text-align: center;
    color:#0B8043;
    font-size: 40px;
    margin: 10px;
}
.forms-description{
    text-align: center;
    width: 70%;
    margin: auto;
}
.forms-body{
    text-align: center;
    font-size: 100px;
    margin: 20px;
}
.forms-body i{
    padding: 10px;
    border-radius: 15px;
}
.forms-choice-description{
    font-size: 16px;
    margin: 0;
    color:#0B8043;
}
.forms-footer{
    text-align: center;
}
.forms-next-button{
    background-image: linear-gradient(to right,#0B8043, #09ca66);
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
}
.note{
    text-align: center;
}
#code-input-body{
    font-size: 16px;
    border: solid #0B8043 2px;
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    
}
#code-input{
    border: none;
    text-align: center;
    background-color: none;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=file] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + i {
    cursor: pointer;
}

[type=radio]:checked + i {
    transition: all 0.3s;
    background-color: #0B8043;
    color: white;

}
label{
    color: #0B8043;

}
#main-form-carousel{
    
}
#upload-loading{
    display: none;
}
